body{
    background :url(booking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
h2{
    font-size: 54px;
    text-shadow: 3px 3px 7px #ababab;
    color: #13709a;
    font-family: dosis;
    position: absolute;
    left: 60px;
    top: 46px;
}
input{
    size: 50px;
    font-size: 16px;
    width: 509px;
    height: 45px;
    border: 1.7px solid #54A9BE;
    border-radius: 40px;
    padding: 0px 5px 0px 16px;
    color: #54A9BE;
    background-color: transparent;
    margin: 15px 10px 9px 34px;
    box-shadow: 2px 2px 7px #ababab;
}
input::placeholder{
    color: #54A9BE;
}
.data:focus{
    border: 2px solid  #988bdb;
    transition: .3s ease;
   } 

button{
    width: 150px;
    height: 45px;
    color: #fff;
    font-weight: 600;
    background: #2DABCA;
    border: none;
    font-size: 18px;
    font-family: 'Dosis';
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 1px 10px #ababab;
    transition: .4s ease;
    letter-spacing: 1px;
}
button:hover{
    transition: .3s ease;
    background-color: #147ead;
}
#con{
    position: relative;
    left: 308px;
}
#plus{
    width: 46px;
    height: 46px;
    border-radius: 40px;
    margin: 33px 10px 0px 53px; 
}
form{
    position: absolute;
    left: 31px;
    top: 184px;
}