*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#body
{   display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    background :url(contactus2.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;  
    font-family: 'Raleway';
}






h2
{
    margin-left: 70px;
    margin-top: -181px;
    font-size: 64px;
    font-family: Raleway;
    color: #3f70d0;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #ababab;



}
.cc .input-box
{
    /* width: 100%;
    height: 50px;
    
    margin: 30px 0;
    margin-left: 70px;
    position: relative; */
}
.input-box
{ 
    position: relative;
    margin-left: 10px;

}
.input-box input
{
    width: 468px;
    height: 53px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #3f70d0;
    border-radius: 40px;
    font-size: 16px;
    color: #3f70d0;
    padding: 20px 45px 20px 20px;
    transition: .5s ease;
    box-shadow: 2px 2px 7px #ababab;

}

.input-box .txt
{
    height: 190px;
    padding: 4px 0px 116px 26px;
}
.txt::placeholder{
    padding: 4px 0px 116px 8px;
}

.input-box  input::placeholder
{
    color: #3f70d0;

}

.input-box  input:focus
{
    border: 2px solid  #988bdb;
    transition: .3s ease;

}

.input-box i 
{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translatey(-50%);
    font-size: 20px;
}

.btn 
{
    width: 150px;
    height: 45px;
    color: #fff;
    font-weight: 600;
    background: #3f70d0;
    border: none;
    font-size: 18px;
    font-family: 'Raleway';
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 2px 10px #ababab;
    transition: .4s ease;
    letter-spacing: 1px;
    position: relative;
    right: 459px;
    top: 250px;
}
.btn:hover
{
      transition: .3s ease;
      background-color: #147ead;
}


.input-box ::placeholder
{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #3f70d0;
    pointer-events: none;
    transition: .5s ease;
}
.input-box input:focus~::placeholder,
.input-box input:valid~::placeholder
{
    top: 1px;
    font-size: .8em;
    background: #1f293d;
    padding: 0 6px;
    color: #0ef;
}
.menu{
    position: relative;
    left: 565px;
    bottom: 278px;
}

/* ul{
    float: right;
    display: flex;
    margin-right: 60px;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-right: 40px;
    margin-top: 5px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    /* font-family: Arial; */
    /* transition: 0.4s ease-in-out;
    font-size: 23px;
    font-family: ''Raleway'';
    text-shadow: 1px 2px 7px #ababab;
    font-weight: bold;
    color: #156082;
    
    }
ul li a:hover{
    color: #4dbacb;

} */ 
.back_home{
    width: 150px;
    height: 45px;
    color: #fff;
    font-weight: 600;
    background: #3f70d0;
    border: none;
    font-size: 16px;
    font-family: ''Raleway'';
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 2px 10px #ababab;
    transition: .4s ease;
}
.back_home:hover{
    transition: .3s ease;
      background-color: #147ead;
}


footer
{ font-family: 'Raleway';
    background: #58BBD4;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(255, 255, 255, 0.856);
    position: absolute;
    top: 739px;

}
.column1{
    position: relative;
    right: 74px;
}
.column2{
    position: relative;
    right: 88px;
}
.column3{
    position: relative;
    right: 177px;
    bottom: 46px;
}
.column1 h3{
       font-size: 36px;
       letter-spacing: 2px;
       margin-bottom: 10px;
       position: relative;
       font-weight: 700;
       color: #fff;
}
.column1 h3::before{
    border-bottom: 3px solid #c7f4ff;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;

}
.column1 p{
    color: #ededed;
    font-weight: 400;
    font-size: 15.5px;
    padding-bottom: 13px;
    line-height: 19px;
}

.footer-col{
    color: #ffffff;
    font-size: 24px;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    /* margin-bottom: 20px; */
    position: relative;
}

    .icons a{
    
        text-decoration: none;
        padding: 10px;
        background-color: #fff;
        margin: 10px;
        border-radius: 50%;
    }
    .icons a i{
        font-size: 2em;
        color: #58BBD4;
        opacity: 0.9e;
    }
    .icons a:hover{
        background-color: #58BBD4;
        transition: 0.5s;
    }
    .icons a:hover i{
        color: #fff;
        transition: 0.5s;
    }
    ol li{
        font-size: 17px;
        margin-bottom: 14px;
    }
    ol li a{
        color: #fff;
    
    }
    ol li a:hover{
        color: #1b6274;
        border-color: #1b6274;
        padding-left: 8px;
    }
    .footer-col{
        font-size: 27px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        position: relative;
        font-weight: 700;
        color: #fff;
    }
    .footer-col::before{
        border-bottom: 3px solid #c7f4ff;
        content: "";
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 3px;
    }
    .fa-map-marker-alt:before {
        content: "\f3c5";
    }
    .fa-envelope:before {
        content: "\f0e0";
    }    
    .info{
        color: #156082;
    position: absolute;
    right: 195px;
    top: 189px;
    height: 54px;
    width: 216px;
    background: transparent;
    box-shadow: 0px 1px 10px #ababab;
    border-radius: 11px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: cursive;
    }
    .infoo{

    }



/*  */