*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


header
{
    height: 100vh;
    background: url(Slice2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}

/* main
{
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;

} */

/* .container
{
    background: url(/Slide\ 16_9\ -\ 6.png);

} */
#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}


#navbar ul
{
    /* display: flex;
    float: left;
    margin-left: 200px; */
 
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 25px;
    margin-top: 27px;
    font-size: 17px;}

.menu
{
    width: 420px;
    float: left;
    height: 70px;
    
}
ul li a{
    text-decoration: none;
    color: #0F3B51;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
#navbar ul li a:hover{
   border-bottom: 2px solid #2987c6;














   
}











figure {
    width: 200px;
}
figcaption {
    background-color: gray;
    width: 200px;
}




.cards {
    display: FLEX;
    justify-content: center;
}
.card{
    border: 2px solid #60b6ff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

img.CardImg {
    width: 133%;
}
figcaption {
    height: 37px;
    text-align: center;
}

.Container {
    background: #ffffff;
    border-radius: 15px;
    padding: 46px 50px 93px;
    box-shadow: 0px 13px 16px #e5e5e5;
    margin: 50px 2% 50px 2%;
}
















.content{
    width: 1200px;
    height: auto;
    margin: auto;
    /* margin-left: 100px; */
    /* color: #fff; */
    position: relative;

}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 25px;
}

.content h1{
    font-family: Arial;
    font-size: 50px;
    color: #0e2572;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #2DABCA;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a{
    text-decoration: none;
    color: #fff;
    transition: .3s ease;

}
.cn:hover{
    background-color: #0e2572;
}
h3
{
    margin-left: 30px;
}

#navbar .login
{
   
    float: left;
    margin-top: -18px;
   /*margin-left: 700px;*/
}

.btn{
    width: 100px;
    height: 40px;
    background: #fff;
    color: #2987c6;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 15px;
    display: inline-block;
  
}

.login .btn{
    width: 100px;
    height: 40px;
    background: #fff;
    color: #2987c6;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 15px;
    display: inline-block;
    transition: .4s ease;
  
}
.btn:hover
{
    background-color: #988bdb;
    
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
    border: 2px solid rgb(152, 139, 219);
}

/* #about
{
    background: url(/Slide\ 16_9\ -\ 6.png);
} */

/* .search
{
    height: 200px;
    width: 200px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #54A9BE;
    border-radius: 40px;
   padding: 30px 40px;
  
} */

/* .choose
{
    height: 200px;
    width: 200px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #54A9BE;
    border-radius: 40px;
   padding: 30px 40px;
  
}
.pay
{
    height: 200px;
    width: 200px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #54A9BE;
    border-radius: 40px;
   padding: 30px 40px;
  
} */

header .content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
/* .container
{
    background: url(Slide\ 16_9\ -\ 6.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
} */

/* main .container 
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 27%;
   
} */
/* .container h1
{   
    margin: 17px;
    
} */
#about
{ 
    background: url(Slide\ 16_9\ -\ 6.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .title 
{
    text-align: center;
    margin-bottom: 5rem;
}

#about h1
{
    font-size: 50px;
    margin-bottom: 20px;
}

#about p 
{
    font-size: 25px;
}

#about .about-content
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #about .all
{
    height: 300px;
    width: 300px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #54A9BE;
    border-radius: 40px;
   padding: 30px 40px;
  
} */

.all
{
    height: 300px;
    width: 300px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #54A9BE;
    border-radius: 40px;
   padding: 16px 40px;
   margin-right: 15px;
  
}



.all h3
{
    font-size: 25px;
    margin-top: 20px;
    color:black;
}

.all .pa
{
    font-size: 25px;
    margin-top: 7px;
    color:rgb(32, 30, 30);
}

.search .scuare
{
    height: 70px;
    width: 70px;
    background: #a2e3f380;
    border-radius: 100px;
    margin-left: 70px;
    
}

.search .scuare2
{
    height: 60px;
    width: 60px;
    background: #A2E3F3;
    border-radius: 100px;
    margin-left: 5px;
    
}

.choose .scuare
{
    height: 70px;
    width: 70px;
    background: #a2e3f380;
    border-radius: 100px;
    margin-left: 70px;
    
}

.choose .scuare2
{
    height: 60px;
    width: 60px;
    background: #A2E3F3;
    border-radius: 100px;
    margin-left: 5px;
    
}


.pay .scuare
{
    height: 70px;
    width: 70px;
    background: #a2e3f380;
    border-radius: 100px;
    margin-left: 70px;
    
}

.pay 
.scuare2
{
    height: 60px;
    width: 60px;
    background: #A2E3F3;
    border-radius: 100px;
    margin-left: 5px;
    
}


.left{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#slide2{
    padding: 50px;
}

#slide h2 {
    position: relative;
    right: 9%;
    font-size: 34px;
}















.vieww
{
    /*margin-left: 700px;*/
    float: left;
    margin-top: -18px;
}


.btn2{
    width: 200px;
    height: 40px;
    background: #2DABCA;
    color: #0000;
    border: 2px solid #2DABCA;
    border-radius: 40px;
    font-size: 15px;
    display: inline-block;


    margin-left: -650px;
    float: left ;
    margin-top: 52px;
  
}

.vieww .btn2{
    width: 150px;
    height: 40px;
    background: #2DABCA;
    color: black;
    border: 2px solid #2DABCA;
    border-radius: 40px;
    font-size: 15px;
    display: inline-block;
    transition: .4s ease;
   
  
}
.btn2:hover
{
    background-color: black;
    
    text-decoration: none;
    color: #2DABCA;
    transition: .3s ease;
    border: 2px solid black;
}


.rectangle1 .scuare
{
    height: 100px;
    width: 100px;
    background: #a2e3f380;
    border-radius: 100px;
    margin-left: 60px;
    
}



.rectangle2 .scuare
{
    height: 100px;
    width: 100px;
    background: #a2e3f380;
    border-radius: 100px;
    margin-left: 60px;
    
}




.rectangle3 .scuare
{
    height: 100px;
    width: 100px;
    background: #a2e3f380;
    border-radius: 100px;
    margin-left: 60px;
    
}

.slide3
{
    background: url(homeSlide3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .h2
{
    
    font-size: 52px;
    margin-top: -150px;
    padding-bottom: 20px;
    padding-left: 142px;
    border-bottom: 2px solid black;
    
    
}

.center .parg
{
    
    font-size: 42px;
    margin-top: 50px;
    padding-bottom: 50px;
    
    
    
}


.btn3{
    width: 239px;
    height: 40px;
    background: #2DABCA;
    color: #0000;
    border: 2px solid #2DABCA;
    border-radius: 40px;
    font-size: 15px;
    display: inline-block;
    margin-left: 89px;


    /* margin-left: -650px;
    float: left ;
    margin-top: 52px; */
  
}

.viewww .btn3{
    width: 239px;
    height: 40px;
    background: #2DABCA;
    color: black;
    border: 2px solid #2DABCA;
    border-radius: 40px;
    font-size: 15px;
    display: inline-block;
    transition: .4s ease;
   
  
}
.btn3:hover
{
    background-color: black;
    
    text-decoration: none;
    color: #2DABCA;
    transition: .3s ease;
    border: 2px solid black;
}

footer
{
    background:#58BBD4;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}