body{
    background: url(TripDetails.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: raleway;
}
h2{
    
    font-size: 60px;
    margin: 0px;
    position: absolute;
    top: -40px;
    font-family: 'Raleway';
    color: #3f70d0;
    text-shadow: 2px 2px 6px #ababab;
}
p{
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #3f70d0;
    position: relative;
    top: 13px;
}
span{
    color: #587787;
    font-weight: 500;
    font-size: 23px;
}
button{
    position: absolute;
    right: 38px;
    bottom: 43px;
    width: 150px;
    height: 45px;
    color: #fff;
    font-weight: 600;
    background: #3f70d0;
    border: none;
    font-size: 18px;
    font-family: 'Raleway';
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 1px 5px #b3b3b3;
    transition: .4s ease;
    letter-spacing: 1px;
}
button:hover{
    background-color: #147ead;
}

.card-details{
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        padding: 40px 39px 36px;
        border-radius: 40px;
        width: 739px;
        height: 487px;
        position: absolute;
        left: 48px;
        top: 87px;
}
.details{
    position: absolute;
    left: 410px;
    top: 51px;
    line-height: 31px;
}